html {
  font-size: 20;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  color: white;


  background: url(img/Image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



h1 {
    font-size: 150;
    text-align: center;
    color: white;
}

a {
    font-size: 20;
    text-align: center;
    color: white;
    text-decoration: none;
}

a.selected {
    font-size: 20;
    text-align: center;
    color: white;
    text-decoration: none;
}

h4 {
    color: white;
}

h3 {
    color: white;
}

h2 {
    font-size: 30;
    color: white;
}


table {
    width:100%"
    background: "rgb(0, 0, 0)"; /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 0px;
        }
